# Source files
src/
*.ts
*.tsx
!dist/**/*.d.ts

# Config files
tsconfig.json
vite.config.ts
eslint.config.mjs
postcss.config.mjs

# Dev files
index.html
node_modules/
.gitignore
.git/

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
